body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.nav {
	height: 30px;
}

.searchbar {
	margin: 0 auto;
	display: block;
	background: white;
	width: 350px;
	border-radius: 8px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background: sienna;
	opacity: 0.8;
}